@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.animate-bounce100 {
  animation: bounce 1s infinite;
  animation-delay: 0.1s;
}

.animate-bounce200 {
  animation: bounce 1s infinite;
  animation-delay: 0.2s;
}

.animate-bounce400 {
  animation: bounce 1s infinite;
  animation-delay: 0.4s;
}
